.sidebar--active p {
    display: inline !important;
}

.sidebar--active > p,
.sidebar--active > h3,
.sidebar--active{
 background-color: #fcecec;
 color: #c04b37;
 font-weight: 800 !important;
}

.app_body{
    display: flex;
    height: 100vh;
    
}

.app{
    height: 100vh;
}

.section--selected{
    background-color: whitesmoke;
    border-width: 3px !important;
}


.sendMail__send{
    background-color: #3079ed !important;
    text-transform: capitalize !important;
    margin: 15px !important;
}